.wd-text-color {
    color: black;
}

.wd-avatar {
    width: 48px;
    height: 48px;
    border-radius: 24px;
}

/*.wd-post-topic {
    font-size: 13px;
    color: rgb(110, 118, 125);
}*/

.wd-post-name-black {
    font-size: 13px;
    color: black;
    font-weight: bold;
}

.wd-post-title-black {
    font-size: 15px;
    font-weight: bold;
    color: black;
}

.wd-post-image-new {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.wd-nudge-up {
    bottom: 9px;
    left: 16px;
}

/*-------------------------------*/
.wd-bg-color-black {
    background: black;
}


.wd-margin {
    margin-left: 16px;
}

.wd-border {
    border: rgb(47, 51, 54) thin solid;
}

.wd-padding {
    padding: 10px;
}




.wd-class-white-text-gray-background {
    background-color: darkgray;
    color: white;
}

.wd-rounded-corners-all-around {
    border-radius: 50px;
}

.wd-position-gear {
    margin-left: 12px;
    text-decoration: none;
}





.wd-grid-row {
    clear: both;
}

.wd-grid-col-one-sixth-page {
    width: 14%;
    float: left;
}

.wd-no-decoration-link {
    text-decoration: none;
}

.wd-highlight-link {
    color: rgb(29,161,242);
}

.wd-border-below-highlight-link {
    border-bottom: rgb(29,161,242) solid 5px;
}

.wd-border-below-other-link {
    border-bottom: rgb(47, 51, 54) solid 5px;
}


.wd-other-link {
    color: rgb(110, 118, 125);
}

.wd-link-font-padding {
    font-size: 15px;
    padding: 16px;
}





.wd-post-topic {
    font-size: 13px;
    color: rgb(110, 118, 125);
}

.wd-post-name {
    font-size: 13px;
    color: white;
}

.wd-post-title {
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.wd-post-image {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.wd-post-margin {
    margin-right: 16px;
}

.wd-first-post-margin {
    margin-top:16px;
}

.wd-post-float-right {
    float: right;
}

.wd-post-float-left {
    float: left;
}

.float-done {
    clear: both;
}






